body {
  text-align: center;
  font-size: 45px;
  background-image: url(./170525.alfabetajuega-fondos-de-pantalla-videojuegos-19-181116.webp);
  background-size: cover;
  color: #f0f0f0;
  margin: 50px 50px 50px 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 50px;
 padding: 20px;
 font-size: 25px;
 align-items: center;
}

box1 {
  margin: 50px;
 padding: 20px;
 font-size: 23px;
 align-items: center;
}
 
.Boton{
  background-color: transparent;
  border-radius: 4px;
  font-size: 25px;
  border: 1px solid black;
  padding:8px 12px ;
  color: black;
  
}
.Boton:hover{
  background-color: #f0f0f0;
}

.Pie{
 height: 150px;
 font-size: 25px;

}